# Discord Tokens (.env dosyasında bunlar yeterlidir)
BOTTOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
TOKEN=YOUR_DISCORD_USER_TOKEN_HERE

# Groq API Key & Ayarlar
GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE
# EKO_USER_ID=1031620522406072350
# PORT=3000



